.secrets {
  background: $primary1;
  padding: 37px 12.5% 30px;

  .secrets_title {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: $primary2;
    margin: 0 0 40px 0;
  }

  .slider{
    max-width: 790px;
    margin: 0 auto;
  }

    iframe{
      width: 100%;
      height: 442px;
    }


  .secrets_row{
  }
  .secrets_btn{
    width: 235px;
    background: $primary2;
    border: none;
    margin: 50px auto 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    padding: 18px 0;transition: background-color 0.3s;

    &:hover, &:active {
      background-color: darken($primary2, 15%);
    }
  }

  .arrow_left {
    left: -100px;
  }

  .arrow_right {
    right: -100px;
  }
}

@media only screen and (max-width: 1024px) {
  .secrets {

    .secrets_title {
      font-size: 36px;
      line-height: 50px;
    }
    .item {
      iframe{
        height: 356px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .secrets {
    padding: 20px 5% 50px;
    .secrets_title {
      font-size: 30px;
      line-height: 30px;
    }

    .slider{
      max-width: 288px;
      margin: 0 auto;
    }

    .item {
      iframe{
        height: 161px;
      }
    }
    .secrets_btn{
      width: 196px;
      padding: 8px 0;
      margin: 36px auto 0;
    }
  }
}