$black: #000;
$white: #fff;

$primary1: #E7FFFF;
$primary2: #45E5CB;
$primary3: #3C424D;

$btnTextColor: #fff;
$textColor: #4F4F4F;
$textColor1: #E77CFE;
$textColor2: #AA49FC;
$commentColor: #050505;

$font-main: 'Gotham Pro';
$font-medium: 'Gotham Pro-Medium';
$font-bold: 'Gotham Pro-Bold';